@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body,html{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

}

a{
  text-decoration: unset;
}

ul{
  list-style: none;
}


.nav__container{
  display: flex;

  justify-content: space-between;
  align-items: center;
  background-color: #393939;

  padding: 0 40px;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.logo img{
  height: 60px;
}

.menu a{
  padding: 10px 6px;
  color: #fff;

}

.menu a:hover{
  color: #fff;
  border-bottom: 3px solid #41B882;

  font-style: oblique;
}

.nav__list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 400px;
}
